
footer {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 2rem;
    background-color: #d33d3d;
    border-top: 5px solid #999393;
    text-align: center;
    width: 100%;
  }

  footer p {
    font-size: 1.2rem;
    color: #0e0d0d;
    margin: 0;
  }

  footer img {
    display: flex;
    width: 200px;
    margin-right: 20px;
  }

  .redes {
    display: flex;
    gap: 10px;
  }

  .redes img {
    width: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .redes img:hover {
    transform: scale(1.1); 
  }
  